/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * 
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "foundation";

.transmogrifier {
  textarea {
    min-height:150px;
  }
}

.trans-content {
  min-height:800px;
  background-color:#fff;
}

.transmogrified {
  textarea {
    min-height:350px;
  }
}

.spaced-vertical-20 {
  margin-top:20px !important;
}

.spaced-vertical-50 {
  margin-top:50px !important;
}

.spaced-vertical-10 {
  margin-top:10px !important;
}